Repository TechLabs-Berlin/ss23-talk-a-palooza, pull requests merged in 2023-09, with the labels that each got.

#47 DL Setup
  .gitignore
  dl/notebooks/01_data_preparation.ipynb
  dl/output/wordbank_crossref.csv
  dl/requirements.txt
Labels: Deep Learning

#48 Preprod: initial pull request.
  app/README.md
  app/client/.gitignore
  app/client/App.js
  app/client/README.md
  app/client/app.json
  app/client/assets/adaptive-icon.png
  app/client/assets/favicon.png
  app/client/assets/icon.png
  app/client/assets/splash.png
  app/client/babel.config.js
  app/client/components/InitialAssessment/AddChild.jsx
  app/client/components/InitialAssessment/ChildForm.jsx
  app/client/components/Login.jsx
  app/client/components/MainMenu.jsx
  app/client/components/TestConnect.js
  app/client/components/auth/RenderRoutes.jsx
  app/client/package-lock.json
  app/client/package.json
  app/client/pages/Dashboard.jsx
  app/client/pages/Main.jsx
  app/client/pages/StartScreen.jsx
  app/client/services/AuthWrapper.jsx
  app/client/services/childrenService.js
  app/client/services/samplesService.js
  app/documentation/git-guidelines.md
  app/server/.gitignore
  app/server/app.js
  app/server/controllers/children.js
  app/server/controllers/samples.js
  app/server/controllers/userService/index.js
  app/server/controllers/userService/user.service.js
  app/server/controllers/users.js
  app/server/index.js
  app/server/models/child.js
  app/server/models/sample.js
  app/server/models/user.js
  app/server/package-lock.json
  app/server/package.json
  app/server/passport/google.js
  app/server/passport/passport.js
  app/server/requests/create_new_sample.rest
  app/server/requests/creating_new_child.rest
  app/server/routes/auth.js
  app/server/utils/config.js
  app/server/utils/logger.js
  app/server/utils/middleware.js
Labels: Web Dev

#52 Create systemDesign.md
  app/documentation/systemDesign.md
Labels: documentation

#53 Feature: Initial Assessment
  app/client/App.js
  app/client/assets/images/banana.jpg
  app/client/assets/images/loading.gif
  app/client/assets/images/recordingIcon.png
  app/client/assets/images/voiceLoading.gif
  app/client/components/AudioExercise/RecordPlayAudio.jsx
  app/client/components/InitialAssessment/AddChild.jsx
  app/client/components/InitialAssessment/AddWords.jsx
  app/client/components/InitialAssessment/AssessForm.jsx
  app/client/components/InitialAssessment/AssessSuccess.jsx
  app/client/components/InitialAssessment/ChildForm.jsx
  app/client/components/MainMenu.jsx
  app/client/components/auth/RenderRoutes.jsx
  app/client/components/navigation/BackButton.jsx
  app/client/package-lock.json
  app/client/package.json
  app/client/pages/Exercises.jsx
  app/client/pages/InitialAssessment.jsx
  app/client/pages/Main.jsx
  app/client/services/AssessWrapper.jsx
  app/client/services/AuthWrapper.jsx
  app/client/services/childrenService.js
  app/client/services/vocabLogsService.js
  app/client/web/index.html
  app/server/app.js
  app/server/controllers/children.js
  app/server/controllers/vocabLogs.js
  app/server/controllers/wordbank.js
  app/server/models/vocabLog.js
  app/server/models/wordBank.js
  app/server/requests/create_new_childVocaby.rest
  app/server/requests/creating_new_child.rest
Labels: Web Dev
